version: 2.1
orbs:
  architect: giantswarm/architect@6.8.0

job_filters: &job_filters
  filters:
    tags:
      only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
    branches:
      ignore:
        - main

workflows:
  package-and-push-chart-on-tag:
    jobs:
      - architect/push-to-app-catalog:
          context: architect
          executor: app-build-suite
          name: push-aws-lb-controller-to-giantswarm-catalog
          app_catalog: giantswarm-catalog
          app_catalog_test: giantswarm-test-catalog
          chart: aws-lb-controller
          <<: *job_filters

      - architect/push-to-app-catalog:
          context: architect
          executor: app-build-suite
          name: push-aws-lb-controller-bundle-to-giantswarm-catalog
          app_catalog: giantswarm-catalog
          app_catalog_test: giantswarm-test-catalog
          chart: aws-lb-controller-bundle
          explicit_allow_chart_name_mismatch: true
          <<: *job_filters

      - architect/push-to-app-catalog:
          context: architect
          executor: app-build-suite
          name: push-aws-lb-controller-bundle-to-control-plane-catalog
          app_catalog: control-plane-catalog
          app_catalog_test: control-plane-test-catalog
          chart: aws-lb-controller-bundle
          explicit_allow_chart_name_mismatch: true
          <<: *job_filters

      - architect/push-to-app-collection:
          name: push-aws-lb-controller-bundle-to-capa-app-collection
          context: architect
          app_catalog: control-plane-catalog
          app_name: aws-lb-controller-bundle
          app_namespace: org-giantswarm
          app_collection_repo: capa-app-collection
          requires:
            - push-aws-lb-controller-to-giantswarm-catalog
            - push-aws-lb-controller-bundle-to-control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
