{{- $clusterName := (include "cluster-name" .) -}}
apiVersion: iam.aws.upbound.io/v1beta1
kind: Role
metadata:
  name: {{ $clusterName }}-aws-load-balancer-controller-role
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "aws-load-balancer-controller-bundle.labels" . | nindent 4 }}
spec:
  providerConfigRef:
    name: {{ $clusterName }}
  forProvider:
    tags:
      giantswarm.io/cluster: {{ $clusterName }}
      giantswarm.io/managed-by: {{ include "aws-load-balancer-controller-bundle.fullname" . }}
      sigs.k8s.io/cluster-api-provider-aws/cluster/{{ $clusterName }}: owned
    assumeRolePolicy: |
      {
        "Version": "2012-10-17",
        "Statement": [
          {{- include "aws-load-balancer-controller-bundle.trustPolicyStatements" . | nindent 10 }}
        ]
      }
    inlinePolicy:
      - name: aws-load-balancer-controller-policy
        policy: |
          {
              "Version": "2012-10-17",
              "Statement": [
                  {
                      "Effect": "Allow",
                      "Action": [
                          "iam:CreateServiceLinkedRole"
                      ],
                      "Resource": "*",
                      "Condition": {
                          "StringEquals": {
                              "iam:AWSServiceName": "elasticloadbalancing.amazonaws.com"
                          }
                      }
                  },
                  {
                      "Effect": "Allow",
                      "Action": [
                          "ec2:DescribeAccountAttributes",
                          "ec2:DescribeAddresses",
                          "ec2:DescribeAvailabilityZones",
                          "ec2:DescribeInternetGateways",
                          "ec2:DescribeVpcs",
                          "ec2:DescribeVpcPeeringConnections",
                          "ec2:DescribeSubnets",
                          "ec2:DescribeSecurityGroups",
                          "ec2:DescribeInstances",
                          "ec2:DescribeNetworkInterfaces",
                          "ec2:DescribeTags",
                          "ec2:GetCoipPoolUsage",
                          "ec2:DescribeCoipPools",
                          "elasticloadbalancing:DescribeLoadBalancers",
                          "elasticloadbalancing:DescribeLoadBalancerAttributes",
                          "elasticloadbalancing:DescribeListeners",
                          "elasticloadbalancing:DescribeListenerCertificates",
                          "elasticloadbalancing:DescribeSSLPolicies",
                          "elasticloadbalancing:DescribeRules",
                          "elasticloadbalancing:DescribeTargetGroups",
                          "elasticloadbalancing:DescribeTargetGroupAttributes",
                          "elasticloadbalancing:DescribeTargetHealth",
                          "elasticloadbalancing:DescribeTags",
                          "elasticloadbalancing:DescribeListenerAttributes"
                      ],
                      "Resource": "*"
                  },
                  {
                      "Effect": "Allow",
                      "Action": [
                          "cognito-idp:DescribeUserPoolClient",
                          "acm:ListCertificates",
                          "acm:DescribeCertificate",
                          "iam:ListServerCertificates",
                          "iam:GetServerCertificate",
                          "waf-regional:GetWebACL",
                          "waf-regional:GetWebACLForResource",
                          "waf-regional:AssociateWebACL",
                          "waf-regional:DisassociateWebACL",
                          "wafv2:GetWebACL",
                          "wafv2:GetWebACLForResource",
                          "wafv2:AssociateWebACL",
                          "wafv2:DisassociateWebACL",
                          "shield:GetSubscriptionState",
                          "shield:DescribeProtection",
                          "shield:CreateProtection",
                          "shield:DeleteProtection"
                      ],
                      "Resource": "*"
                  },
                  {
                      "Effect": "Allow",
                      "Action": [
                          "ec2:AuthorizeSecurityGroupIngress",
                          "ec2:RevokeSecurityGroupIngress"
                      ],
                      "Resource": "*"
                  },
                  {
                      "Effect": "Allow",
                      "Action": [
                          "ec2:CreateSecurityGroup"
                      ],
                      "Resource": "*"
                  },
                  {
                      "Effect": "Allow",
                      "Action": [
                          "ec2:CreateTags"
                      ],
                      "Resource": "arn:*:ec2:*:*:security-group/*",
                      "Condition": {
                          "StringEquals": {
                              "ec2:CreateAction": "CreateSecurityGroup"
                          },
                          "Null": {
                              "aws:RequestTag/elbv2.k8s.aws/cluster": "false"
                          }
                      }
                  },
                  {
                      "Effect": "Allow",
                      "Action": [
                          "ec2:CreateTags",
                          "ec2:DeleteTags"
                      ],
                      "Resource": "arn:*:ec2:*:*:security-group/*",
                      "Condition": {
                          "Null": {
                              "aws:RequestTag/elbv2.k8s.aws/cluster": "true",
                              "aws:ResourceTag/elbv2.k8s.aws/cluster": "false"
                          }
                      }
                  },
                  {
                      "Effect": "Allow",
                      "Action": [
                          "ec2:AuthorizeSecurityGroupIngress",
                          "ec2:RevokeSecurityGroupIngress",
                          "ec2:DeleteSecurityGroup"
                      ],
                      "Resource": "*",
                      "Condition": {
                          "Null": {
                              "aws:ResourceTag/elbv2.k8s.aws/cluster": "false"
                          }
                      }
                  },
                  {
                      "Effect": "Allow",
                      "Action": [
                          "elasticloadbalancing:CreateLoadBalancer",
                          "elasticloadbalancing:CreateTargetGroup"
                      ],
                      "Resource": "*",
                      "Condition": {
                          "Null": {
                              "aws:RequestTag/elbv2.k8s.aws/cluster": "false"
                          }
                      }
                  },
                  {
                      "Effect": "Allow",
                      "Action": [
                          "elasticloadbalancing:CreateListener",
                          "elasticloadbalancing:DeleteListener",
                          "elasticloadbalancing:CreateRule",
                          "elasticloadbalancing:DeleteRule"
                      ],
                      "Resource": "*"
                  },
                  {
                      "Effect": "Allow",
                      "Action": [
                          "elasticloadbalancing:AddTags",
                          "elasticloadbalancing:RemoveTags"
                      ],
                      "Resource": [
                          "arn:*:elasticloadbalancing:*:*:targetgroup/*/*",
                          "arn:*:elasticloadbalancing:*:*:loadbalancer/net/*/*",
                          "arn:*:elasticloadbalancing:*:*:loadbalancer/app/*/*"
                      ],
                      "Condition": {
                          "Null": {
                              "aws:RequestTag/elbv2.k8s.aws/cluster": "true",
                              "aws:ResourceTag/elbv2.k8s.aws/cluster": "false"
                          }
                      }
                  },
                  {
                      "Effect": "Allow",
                      "Action": [
                          "elasticloadbalancing:AddTags",
                          "elasticloadbalancing:RemoveTags"
                      ],
                      "Resource": [
                          "arn:*:elasticloadbalancing:*:*:listener/net/*/*/*",
                          "arn:*:elasticloadbalancing:*:*:listener/app/*/*/*",
                          "arn:*:elasticloadbalancing:*:*:listener-rule/net/*/*/*",
                          "arn:*:elasticloadbalancing:*:*:listener-rule/app/*/*/*"
                      ]
                  },
                  {
                      "Effect": "Allow",
                      "Action": [
                          "elasticloadbalancing:ModifyLoadBalancerAttributes",
                          "elasticloadbalancing:SetIpAddressType",
                          "elasticloadbalancing:SetSecurityGroups",
                          "elasticloadbalancing:SetSubnets",
                          "elasticloadbalancing:DeleteLoadBalancer",
                          "elasticloadbalancing:ModifyTargetGroup",
                          "elasticloadbalancing:ModifyTargetGroupAttributes",
                          "elasticloadbalancing:DeleteTargetGroup"
                      ],
                      "Resource": "*",
                      "Condition": {
                          "Null": {
                              "aws:ResourceTag/elbv2.k8s.aws/cluster": "false"
                          }
                      }
                  },
                  {
                      "Effect": "Allow",
                      "Action": [
                          "elasticloadbalancing:AddTags"
                      ],
                      "Resource": [
                          "arn:*:elasticloadbalancing:*:*:targetgroup/*/*",
                          "arn:*:elasticloadbalancing:*:*:loadbalancer/net/*/*",
                          "arn:*:elasticloadbalancing:*:*:loadbalancer/app/*/*"
                      ],
                      "Condition": {
                          "StringEquals": {
                              "elasticloadbalancing:CreateAction": [
                                  "CreateTargetGroup",
                                  "CreateLoadBalancer"
                              ]
                          },
                          "Null": {
                              "aws:RequestTag/elbv2.k8s.aws/cluster": "false"
                          }
                      }
                  },
                  {
                      "Effect": "Allow",
                      "Action": [
                          "elasticloadbalancing:RegisterTargets",
                          "elasticloadbalancing:DeregisterTargets"
                      ],
                      "Resource": "arn:*:elasticloadbalancing:*:*:targetgroup/*/*"
                  },
                  {
                      "Effect": "Allow",
                      "Action": [
                          "elasticloadbalancing:SetWebAcl",
                          "elasticloadbalancing:ModifyListener",
                          "elasticloadbalancing:AddListenerCertificates",
                          "elasticloadbalancing:RemoveListenerCertificates",
                          "elasticloadbalancing:ModifyRule"
                      ],
                      "Resource": "*"
                  }
              ]
          }
